.debts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin-top: 2em;
}

.debt-card {
  border: 1px solid black;
  width: fit-content;
  padding: 0.5em;
}
