// ========== Variables ==========
$gray: #828a95;

// ========== Navigation ==========
.nav {
  margin: 0 auto 1em;
  max-width: 600px;
  padding: 1em;
}

.nav-title {
  margin: 0;

  span {
    color: $gray;
  }
}

.nav-subtitle {
  margin: 0.5em auto 0;
}

// ========== Friends ==========
.friends-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.friend-add {
  cursor: pointer;
  padding: 0.75em 4em;
  border: 1px solid $gray;
  background: inherit;
  border-radius: 0.5em;
}

.friend-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5em;
  width: fit-content;
  padding: 0.5em 5em;
  border: 1px solid $gray;
  border-radius: 0.5em;

  button {
    padding: 0.75em;
    border: none;
    background: none;
    cursor: pointer;
  }
}

// ========== Debts ==========
.debts-container {
  margin: 2em auto 0;
  border: 1px solid $gray;
  border-radius: 0.5em;
  width: fit-content;
  padding: 0.5em 3em;

  ul {
    padding: 0 1em;
  }
}
