// ========== Variables ==========
// colors
$gray: #828a95;
$lightGray: #d8d8d8;

// font-family
$poppins: "Poppins", sans-serif;

// font-weight
$fw-regular: 300;
$fw-semibold: 500;
$fw-bold: 700;

// font-size
$fs-h1: 2rem;
$fs-h2: 1.3em;
$fs-body: 1rem;

// ========== General ==========
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $poppins;
  font-weight: $fw-regular;
  font-size: $fs-body;
  line-height: 1.5rem;
}

h1 {
  font-size: $fs-h1;
  font-weight: $fw-bold;
}

h2 {
  font-size: $fs-h2;
  font-weight: $fw-bold;
}

button {
  cursor: pointer;
  padding: 1em 4em;
  border: 1px solid $lightGray;
  background: inherit;
  border-radius: 0.5em;
  font-weight: $fw-bold;
}

// ========== Parent ==========
.parent-container {
  max-width: 700px;
  margin: auto;
  padding: 1em 1em 3em;
}

// ========== Navigation ==========
.nav {
  margin: 1em 0 2em;
}

.nav-title {
  margin: 0;

  span {
    color: $gray;
  }
}

.nav-subtitle {
  margin: 0.5em 0 0;
}

// ========== Friends ==========
.friends-container {
  margin: 0 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.friend-card {
  border: 1px solid $lightGray;
  border-radius: 0.5em;
  padding: 0.5em 2em;
  width: 100%;
}

.friend-card-default {
  cursor: pointer;
}

.friend-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;

  span {
    font-size: $fs-h2;
  }

  input {
    font-size: $fs-h2;
    width: 0;
  }

  // Removes the arrows on the number input
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    flex-basis: 120px;
  }
}

.friend-card-name {
  flex-grow: 1;
}

.friend-card-buttons {
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  gap: 0.5em;

  button {
    flex: 1;
  }
}

// ========== Debts ==========
.debts-container {
  border: 1px solid $lightGray;
  border-radius: 0.5em;
}

.debts-title {
  position: relative;
  margin: 1em 1.5em 0;

  span {
    position: absolute;
    right: 0;
  }
}

.debts-subtitle {
  position: relative;
  border-bottom: 1px solid $lightGray;
  margin: 0 1em;
  padding: 0 1em 0.5em;
  color: $gray;

  span {
    position: absolute;
    right: 1em;
  }
}

.debts-list {
  position: relative;
  padding: 0;
  margin: 0 2em;

  p {
    margin: 0.5em 0;
    color: $gray;
  }

  li {
    margin-left: 1em;
    padding-left: 0.5em;
    color: $gray;
  }

  i {
    padding: 0 1em;
    color: $gray;
  }

  span {
    color: black;
    font-weight: $fw-semibold;
  }
}

.debts-list-amount {
  position: absolute;
  right: 0;
}

.debts-simplify {
  display: block;
  margin: 2em auto 1.5em;
}
