// ========== Variables ==========
$gray: #828a95;

// Parent
.parent-container {
  max-width: 600px;
  margin: auto;
  padding-bottom: 4em;
}

// ========== Navigation ==========
.nav {
  margin: 1em 1em 2em;
}

.nav-title {
  margin: 0;

  span {
    color: $gray;
  }
}

.nav-subtitle {
  margin: 0.5em 0 0;
}

// ========== Friends ==========
.friends-container {
  margin: 0 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.friend-add {
  cursor: pointer;
  padding: 0.75em 4em;
  border: 1px solid $gray;
  background: inherit;
  border-radius: 0.5em;
}

.friend-card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.friend-card {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border: 1px solid $gray;
  border-radius: 0.5em;
  padding: 0 2em;
  height: 60px;
}

.friend-identity {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
}

.friend-delete {
  height: 50px;
  width: 50px;
  border: none;
  background: none;
  cursor: pointer;
}

// ========== Debts ==========
.debts-container {
  border: 1px solid $gray;
  border-radius: 0.5em;
  margin: 0 1em;
}

.debts-title {
  position: relative;
  margin: 1em 2em 0;

  span {
    position: absolute;
    right: 0;
  }
}

.debts-subtitle {
  position: relative;
  border-bottom: 1px solid $gray;
  margin: 0;
  padding: 0.5em 2em;

  span {
    position: absolute;
    right: 2em;
  }
}

.debts-list {
  position: relative;
  padding: 0 3em;

  span {
    position: absolute;
    right: 2em;
  }
}

.debts-simplify {
  display: block;
  margin: 2em auto 1em;

  cursor: pointer;
  padding: 0.75em 4em;
  border: 1px solid $gray;
  background: inherit;
  border-radius: 0.5em;
}
